@media screen and (max-width: 645px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 645px) {
  .desktop {
    min-width: 645px;
  }
}

@media screen and (max-width: 645px) {
  .mobile {
    width: 80%;
    margin: 0 auto;
  }
  .mobile h2 {
    margin: 1em 0;
  }
}

@media screen and (min-width: 645px) {
  .mobile {
    display: none;
  }
}

body {
  background: #efefef;
  padding: 50px 0;
  max-width: 1080px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

a {
  display: inline-block;
}

#instructions-btn {
  margin-left: auto;
  margin-right: 20px;
}

.note {
  background: #e8e8e8;
  color: grey;
  padding: 5px 13px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: small;
  margin-bottom: 0;
}

.small {
  font-size: small;
  color: grey;
}

.hidden {
  display: none !important;
}

button {
  display: block;
  padding: 0.3rem 0.8rem;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
  margin: 10px 0;
  font-size: 16px;
  background-color: lightgrey;
  cursor: pointer;
}

button:hover {
  background-color: #cbcaca;
}

button.info {
  background-color: #007bff;
  color: white;
}

button.info:hover {
  background-color: #2d84e1;
}

button.secondary {
  background: lightgrey;
  color: #373737;
  border: 1px solid #b8b8b8;
  font-size: small;
}

button.secondary:hover {
  background-color: #dad8d8;
}

.model-form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px 10px;
  border: 1px solid #6c4bc1;
  background: white;
  color: black;
}

@media screen and (max-width: 645px) {
  .model-form {
    width: 500px;
  }
}

.model-form label {
  font-weight: bold;
  width: 100%;
  background-color: #6c4bc1;
  padding: 10px;
  margin-bottom: 0;
  color: white;
}

.model-form .flex-container {
  padding: 10px;
  background: white;
}

.model-form input#model {
  border-radius: 10px 0 0 10px;
  border-right: none;
  margin-right: 0;
  min-width: 80%;
}

@media screen and (min-width: 1080px) {
  .model-form input#model {
    width: 530px;
  }
}

.model-form #load-model-btn {
  background: #6c4bc1;
  width: 115px;
  color: white;
  border-radius: 0 10px 10px 0;
  margin: 0;
}

.model-form #load-model-btn:hover {
  background: #6044a9;
}

.model-form #load-model-btn.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

.model-form .note {
  margin: 10px 10px 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#status-container {
  margin: 10px 0;
  display: none;
  background: darkgrey;
  padding: 5px;
  color: white;
}

.content {
  float: right;
  width: 700px;
}

input,
select,
textarea {
  font-family: "consolas", monospace;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #cfcdcd;
  background: white;
}

#actions {
  visibility: hidden;
  margin: 10px auto;
}

#checkboxes {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  width: 250px;
  border-radius: 5px;
}

.pair-container {
  width: 100%;
  height: 48px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  background: #3d3d3d;
}

.pair-container > * {
  margin-right: 10px;
}

.pair-container .status-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e8e8e8;
  border: 4px solid grey;
}

.pair-container .status-icon.loading {
  background: #e5e576;
  border: 4px solid #c4c453;
}

.pair-container .status-icon.success {
  background: #93e8be;
  border: 4px solid #43da43;
}

.pair-container #pair-btn {
  display: block;
  margin: 0;
  padding: 0.05em 0.8em;
  margin-right: 10px;
  background: #18a87a;
  color: white;
  border-color: #129268;
}

.pair-container #pair-btn:hover {
  background: #129268;
}

.pair-container .note {
  background: none;
  color: white;
}

.pair-container .note a {
  font-weight: bold;
  text-decoration: underline;
  color: #a2cfff;
}

input {
  width: inherit;
}

video {
  width: 100%;
}

#predictions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 10px;
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

#predictions.hidden {
  display: none;
}

#predictions .label {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 5px;
  background-color: #5c8798;
}

#predictions .label.active {
  background-color: #6c4bc1;
}

#predictions #toggle-prediction-btn {
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 0;
  background: #6c4bc1;
  color: white;
}

#predictions #toggle-prediction-btn.isPredicting {
  background: lightgrey;
  color: #373737;
}

.label {
  font-weight: bold;
  padding: 3px 10px;
  background-color: grey;
  vertical-align: top;
  color: white;
}

.label.active {
  background-color: #6c4bc1;
}

#form-container {
  margin: 0 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#form-container form {
  background: white;
  border: 1px solid #e8e8e8;
  padding: 0;
  margin-top: 10px;
  margin-right: 10px;
}

#form-container form .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #e8e8e8;
  position: relative;
}

#form-container form .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.1em 0.8em;
}

#form-container form .header {
  position: relative;
  width: 100%;
  background: #5c8798;
  color: white;
  margin-top: 0;
  padding: 10px 10px 5px;
}

#form-container form .header .ml-label {
  font-weight: bold;
  font-family: "consolas", monospace;
}

#form-container form .header label {
  margin-bottom: 0;
}

#form-container form .header button {
  position: absolute;
  top: 5px;
  right: 10px;
  margin: 0;
}

#form-container form .header.active {
  background: #6c4bc1;
}

#form-container form .add-btn {
  border-radius: 5px;
}

#form-container form .display-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form-container form .display-item-container .item {
  margin: 10px 10px 10px 0;
  min-width: 155px;
}

#form-container form .display-item-container .add-led-btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 10px;
}

#form-container form .params {
  margin: 20px;
  position: relative;
}

#form-container form .params label {
  font-family: "consolas", monospace;
  margin-bottom: 0;
}

#form-container form .test-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
}

#form-container form .display-label {
  vertical-align: top;
}

#form-container form .servo-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form-container form .servo-item-container .servo-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-right: 5px;
  position: relative;
  margin-bottom: 5px;
}

#form-container form .servo-item-container .servo-container label {
  grid-column: auto / span 2;
  background: #e8e8e8;
  padding: 10px 40px 0 10px;
  margin-bottom: 0;
}

#form-container form .servo-item-container .servo-container .servo-item {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px;
  width: auto;
}

#form-container form .servo-item-container .servo-container .servo-item label {
  padding: 0;
  font-size: small;
}

#form-container form .servo-item-container .servo-container .servo-item input[type=text] {
  width: 45px;
}

.display-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.display-input input {
  margin: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.25em;
  height: 1.25em;
  border-radius: 3px;
  background-color: white;
}

.display-input input.checkbox:checked {
  background-color: #007bff;
}

#intro-modal .modal__container {
  max-width: 800px;
}

#intro-modal .modal__container .modal__title {
  color: black;
  font-size: x-large;
}

#intro-modal .modal__container .flex-container.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro-modal .modal__container .flex-container div {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#intro-modal .modal__container .flex-container img {
  max-width: 100%;
  margin-bottom: 10px;
}

#intro-modal .modal__container .flex-container video {
  background: #b3b3b3;
  height: 190px;
}

#intro-modal .modal__container .flex-container .flex-item {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#intro-modal .modal__container .flex-container .flex-item .step {
  border-bottom: 0.5px solid #e8e8e8;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: small;
  font-weight: 500;
}

#intro-modal .modal__container .flex-container .flex-item .heading {
  font-weight: bold;
  margin-bottom: 10px;
}

#intro-modal .modal__container .flex-container .flex-item p {
  font-size: 14px;
}

#intro-modal .modal__container .flex-container .flex-item:nth-of-type(2) {
  margin: 0 30px;
}

#intro-modal .modal__container .highlight {
  background-color: #efecff;
  padding: 5px 10px;
  border-radius: 5px;
}

#intro-modal .modal__footer {
  float: right;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.angle-input-item {
  position: relative;
  border-radius: 50px 50px 0 0;
  height: 50px;
  width: 50px;
  border: 2px solid #ccc;
  margin: 0.5em 0 0;
  cursor: pointer;
  outline: none;
  background: white;
}

.angle-input-item:focus {
  border: 2px solid #007bff;
  cursor: pointer;
}

.angle-input-item:focus .angle-input-pivot::before {
  border: 2px solid #007bff;
}

.angle-input-item::after {
  content: '';
  position: absolute;
  top: 63%;
  left: -5%;
  width: 110%;
  bottom: 0px;
  height: 19px;
  border-top: 2px solid #ccc;
  background: #e8e8e8;
}

.angle-input-item:active::after, .angle-input-item:focus::after {
  border-top: 2px solid #007bff;
}

.angle-input-item .angle-input-pivot {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  background: grey;
}

.angle-input-item .angle-input-pivot::before {
  content: '';
  position: absolute;
  right: -5px;
  top: 50%;
  width: 10px;
  margin-top: -5px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
  border: 1px solid #007bff;
}

.angle-input-item .angle-input-pivot::after {
  content: '';
  background: white;
  position: absolute;
  top: -2px;
  left: 0px;
  right: 50%;
  height: 5px;
}
/*# sourceMappingURL=style.css.map */