body{
  background:#FFFEEE;
  padding: 50px;
  max-width: 700px;
  margin: 0 auto;
}
#status-container{
  display: none;
  background: darkgrey;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
button{
  display: block;
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  cursor: pointer;
}
#pair-btn{
  display: block;
  background: #73f592;
  font-size: 20px;
  margin: 20px 0px;
}
input{
  margin-bottom: 15px;
  width: 100%;
}
#predictions{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#predictions > div{
  margin: 10px;
}
.label{
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #cfefff;
  margin-right: 10px;
  border: 1px solid #cfefff;
}
.label.active{
  background-color:#cfc6ff;
  border: 1px solid #5e529d;
}