body{
    background:#FFFEEE;
    padding: 50px;
    max-width: 700px;
    margin: 0 auto;
  }
  #status-container{
    display: none;
    background: darkgrey;
    border-radius: 5px;
    padding: 5px;
    color: white;
  }
  #actions{
    visibility: hidden;
    margin: 10px auto;
  }
  button{
    display: block;
    font-size: 16px;
    border-radius: 3px;
    background-color: lightgrey;
    cursor: pointer;
  }
  #checkboxes{
    display: none;
    background: rgba(255,255,255,0.8);
    width: 250px;
    border-radius: 5px;
  }
  #pair-btn{
    display: block;
    background: #73f592;
    font-size: 20px;
    margin: 20px 0px;
  }
  input{
    margin-bottom: 15px;
    width: 100%;
  }
  video{
    width: 100%;
  }
  #predictions{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #predictions > div{
    margin: 10px;
  
  }
  .label{
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #cfefff;
    margin-right: 10px;
    border: 1px solid #cfefff;
  }
  
  .label.active{
    background-color:#cfc6ff;
    border: 1px solid #5e529d;
  }

#blockly-container{
    height: 100%;
    width: 50%;
    min-width: 600px;
    max-width: 800px;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
}

#blockly-code{
    height: 100%;
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    background: #e2e2ff;
    padding: 10px;
    overflow-wrap: break-word;
}