body{
  text-align: center;
  background: #e8e8e8;
  padding: 50px;
}
#actions{
  visibility: hidden;
  margin: 10px auto;
}
button{
  display: block;
  margin: 15px auto;
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}
#checkboxes{
  display: none;
  background: rgba(255,255,255,0.8);
  width: 250px;
  border-radius: 5px;
}
#pair-btn{
  background: #73f592;
  font-size: 20px;
  margin-top: 50px;
}