h1 {
  color: fuchsia;
}
#actions{
  visibility: hidden;
}
button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}